.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 30px;
}

.folder-add-top::before {
  content: url("/src/assets/add-folder-top.svg");
}
.folder-add::before {
  content: url("/src/assets/add-folder.svg");
}
.folder-erase::before {
  content: url("/src/assets/erase-folder.svg");
}
.folder-open::before {
  content: url("/src/assets/folder-open.svg");
}
.folder-closed::before {
  content: url("/src/assets/folder-closed.svg");
}
.file-item::before {
  content: url("/src/assets/file.svg");
}
.file-add::before {
  content: url("/src/assets/add-file.svg");
}
.file-update::before {
  content: url("/src/assets/update-file.svg");
}
.file-erase::before {
  content: url("/src/assets/erase-file.svg");
}

.create-folder-root {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.create-folder-root img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.create-folder-form {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.create-folder-form input {
  margin-right: 10px;
  padding: 5px;
  width: 200px;
}

.directory-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.directory-content {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espaçamento entre os itens internos */
  margin-left: 30px; /* Distância para os subdiretórios */
}

.subdirectory-content {
  margin-left: 40px; /* Indentação para subpastas */
}

.directory-item {
  margin-bottom: 10px;
}

.file-item {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribui espaço entre os elementos */
  margin-left: 60px;
  gap: 10px; /* Espaçamento horizontal entre o nome do arquivo e os ícones */
}

.file-item span {
  flex-grow: 1; /* Faz com que o nome do arquivo ocupe o máximo de espaço disponível */
}

.file-add,
.file-erase {
  width: 24px; /* Largura dos ícones, ajustável conforme necessário */
  height: 24px; /* Altura dos ícones */
  cursor: pointer;
}

.file-add::before,
.file-erase::before {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.directory-header {
  display: flex;
  align-items: center;
  gap: 5px;
}

.directory-header img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-right: 10px;
}

.delete-confirmation {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.edit-file-form {
  display: flex;
  flex-direction: column;
  gap: 6px;
  border: 1px solid #000;
  padding: 10px;
}

.edit-file-name {
  display: flex;
  flex-direction: row;
  gap: 6px;
  width: 35vw;
}

.edit-file-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 35vw;
  height: 20vh;
}
